body{
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 1.5rem;
    background-color: rgb(208, 221, 239);
    height: 95vh;
}
img{
    border-radius: 50%;
    width: 60%;
    margin: 5rem 0rem 1rem 0rem;
}
.photo-card{
    grid-row: 1/3;
    text-align: center;
    box-shadow: 0px 0px 3px #9ca5aa,
                0px 0px 5px #9ca5aa,
                0px 0px 7px #9ca5aa,
                0px 0px 9px #9ca5aa;
}
.photo-card>h1{
    margin: 0rem 0rem 1rem 0rem;

}
span{
    font-size: 20px;
    color: grey;
    padding: 0rem 3rem 2rem 3rem
}
.button{
    margin-top: 3rem;
    opacity: 0.8;
}
.button:hover{
    opacity: 1;
}
a{
    background-color: rgb(71, 126, 208);
    box-shadow: 0px 0px 1px rgb(71, 126, 208),
                0px 0px 2px rgb(71, 126, 208),
                0px 0px 3px rgb(71, 126, 208),
                0px 0px 4px rgb(71, 126, 208);
    color: white;
    padding: 1rem 3rem;
    text-decoration: none;
}
.social-card{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 3px #9ca5aa,
                0px 0px 5px #9ca5aa,
                0px 0px 7px #9ca5aa,
                0px 0px 9px #9ca5aa;
}
.green-text{
    color:rgb(71, 126, 208);
    font-size: 32px;
    font-weight: 700;
}
.small-text{
    color: grey;
    font-size: 24px;
}
.about-Jane{
    text-align: center;
    box-shadow: 0px 0px 3px #9ca5aa,
                0px 0px 5px #9ca5aa,
                0px 0px 7px #9ca5aa,
                0px 0px 9px #9ca5aa;
    grid-column: 2/5;
    padding: 6rem 3rem 0rem 3rem;
}
.person-info{
    text-align: justify;
    color: rgb(81, 79, 79);
    font-size: 20px;
}
